.inc{
    margin: 20px 0 0 70px;
    width: 80px;
    height: 40px;
    border:none;
    color: black;
    font-size: 24px;
    font-weight: 600;
    border:2px solid rgb(202, 77, 98);
    border-radius: 10px;
}

.reset{
    margin: 0 10px 0 10px;
    width: 80px;
    height: 40px;
    border:none;
    border: 1px solid black;
    font-size: 24px;
    font-weight: 600;
    border-radius: 10px;
}

.noneReset{
    margin: 0 10px 0 10px;
    width: 80px;
    height: 40px;
    border:none;
    font-size: 24px;
    font-weight: 600;
    border-radius: 10px;
}