.allBlock{
    display: flex;
    justify-content: center;
    margin: 200px 0 0 0;
}


.block{
    border-radius: 10px;
    width: 300px;
    height: 200px;
}
.stateBlock{
    font-size: 30px;
    font-weight: 600;
    margin: 60px 0 0 50%;
}